controller:
  admin:
    username: admin
    password: admin123

  serviceType: LoadBalancer
  servicePort: 80
  service:
    port: 80
    targetPort: 8080

  resources:
    limits:
      cpu: '500m'
      memory: '1Gi'
    requests:
      cpu: '250m'
      memory: '512Mi'

  persistentVolume:
    enabled: true
    storageClass: 'ebs-sc'
    size: 10Gi

  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest
    - credentials-binding:latest
    - github:latest
    - docker-plugin:latest
    - docker-workflow:latest
    - job-dsl:latest
serviceAccount:
  name: jenkins-sa
  create: false

JCasC:
  configScripts:
    credentials: |
      credentials:
        system:
          domainCredentials:
            - credentials:
                - usernamePassword:
                    scope: GLOBAL
                    id: github-token
                    username: snegurova
                    password:
                    description: GitHub PAT
    seed-job: |
      jobs:
        - script: |
              folder('jcasc')

          - script: |
              pipelineJob("jcasc/goit-django-docker") {
                definition {
                  cpsScm {
                    scm {
                      git {
                        remote {
                          url("https://github.com/snegurova/goit-devops.git")
                        }
                        branches("*/lesson-9")
                      }
                    }
                    scriptPath("django/Jenkinsfile")
                  }
                }
              }
